@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}

.header {
  background: url('imagen2-jpg.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.header-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  animation: aparecer 1.5s ease-in-out forwards;
}

.titulo {
  font-size: 3rem;
  font-weight: 800;
  color: #6200ff;
  text-shadow: 0 0 25px rgba(0, 4, 255, 0.8);
  margin-bottom: 10px;
}


.subtitulo {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 40px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}


.botones {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background: transparent;
  border: 2px solid #00f7ff;
  color: #4c00ff;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.btn:hover {
  background: #001aff;
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 0 20px #002fff;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #eee;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2.3rem;
  }

  .subtitulo {
    font-size: 1.1rem;
  }

  .btn {
    padding: 10px 25px;
    font-size: 0.9rem;
  }
}

